body 
{
   background-color : #ffb6c1 ;
   font-family : Cursive ;

}

h1
{
    margin-left : 50px;
    background-Color : #111111 ; 
    margin-right : 20px;
    Color : White ;

}

p
{
  color : red ;
  font-size : 100% ;
 
}
table
{
    Color: black  ;
  
}
th
{
  font-size : 200% ;
}

/*class can be used many times*/
.myclass
{
   border: 10px;
   border-color: aqua;
   color: blueviolet;

}
.myclass :hover{
  background-color : yellow;
}
/*Id's can be used only once*/
#myId
{
  background-color : powderblue;
  color : black;
  padding: 40px;
  text-align: center;
}

